.Rproj.user
.Rhistory
.RData
.Ruserdata
presentation.bbl
presentation.blg
presentation.log
presentation.nav
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
wbs-presentation.Rproj
